<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{tituloToolBar}}
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="alternarSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-toolbar *ngIf="mostraSearchbar">
    <ion-searchbar [(ngModel)]="termoPesquisa" (ionInput)="filtrarRegistros()" animated="true" placeholder="Pesquisar">
    </ion-searchbar>
  </ion-toolbar>


  <ion-list no-padding>

    <ion-item no-padding *ngFor="let solicitacao of solicitacoes">

      <ion-icon padding name="thumbs-up" class="medio" color="cinza-claro" item-left *ngIf="mostraAutorizada">
      </ion-icon>
      <ion-icon padding name="thumbs-down" class="medio" color="cinza-claro" item-left *ngIf="mostraNegada"></ion-icon>
 
      <h3><b>{{solicitacao.solicitanteNome}}</b></h3>
      <h4>{{solicitacao.solicitanteCpf}}</h4>
      <h4>{{solicitacao.solicitanteEmail}}</h4>
      <h4>Solicitado em: {{solicitacao.solicitadoEm | date: 'dd/MM/yyyy HH:mm:ss'}}</h4>
      <span *ngIf="mostraAutorizada"><h4>Autorizada em: <b>{{solicitacao.modificacaoEm | date: 'dd/MM/yyyy HH:mm:ss'}}</b></h4></span>
      <span *ngIf="mostraNegada"><h4>Negada em: <b>{{solicitacao.modificacaoEm | date: 'dd/MM/yyyy HH:mm:ss'}}</b></h4></span>



      <ion-icon padding name="thumbs-up" class="medio" color="secondary" item-right
        (click)="autorizarConsulta(solicitacao)" *ngIf="mostraNova"></ion-icon>
      <ion-icon name="thumbs-down" class="medio" color="danger" item-right (click)="negarConsulta(solicitacao)"
        *ngIf="mostraNova"></ion-icon>

        <ion-icon padding name="trash" class="medio" color="dark" item-right (click)="removerMinhaSolicitacao(solicitacao)" *ngIf="mostraNova"></ion-icon>

        <ion-icon padding name="trash" class="medio" color="danger" item-right (click)="removerMinhaSolicitacao(solicitacao)" *ngIf="mostraAutorizada || mostraNegada"></ion-icon>
        

    </ion-item>

  </ion-list>
</ion-content>
