<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Consulta
    </ion-title>

    <ion-buttons end>
          <button ion-button icon-only (click)="alternarSearchbar()">
            <ion-icon name="search"></ion-icon>
          </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-toolbar *ngIf="mostraSearchbar">
    <ion-searchbar
      [(ngModel)]="termoPesquisa"
      (ionInput)="filtrarRegistros()"
      animated="true"
      placeholder="Pesquisar" >
   </ion-searchbar>
  </ion-toolbar>

  <ion-list no-padding>

    <ion-item no-padding  *ngFor="let consulta of registros">

           

      <!-- Apesentar icone conforme a UF -->
      <img item-left padding src="../../assets/images/{{consulta.uf | lowercase}}.gif">

      <h3><b>{{consulta.nome}}</b></h3>
      <h4>{{consulta.cpf}}</h4>
      <h4>{{consulta.email}}</h4>

      <!-- Apesentar icone conforme o sexo -->
      <ion-icon padding [name]="consulta.sexo == 'M'? 'man' :'woman'"  class="medio" item-right [color]="consulta.sexo == 'M'? 'dark' :'pink'" ></ion-icon>

      <ion-icon name="add-circle" class="medio" color="primary" item-right (click)="apresentarToast(consulta)"></ion-icon>

    </ion-item>
  </ion-list>
</ion-content>
